
# Next.js
.next/
.next-*/
out/
.next-prod/
coverage/
node_modules/
.turbo/
npm-debug.log
yarn-error.log
playwright-report/
test-results/
tmp/
*.tsbuildinfo
ts_errors.log

# IDE
.idea/
.vscode/

# Env
.env.local
.env.development.local
.env.test.local
.env.production.local
